{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="d-flex flex-row justify-content-center my-3">
        <div class="d-flex flex-column">
            <!-- Карточка пользователя -->
            <div class="card p-3 mb-3">
                <div>
                    <h2> {{ user.last_name}} {{ user.first_name }} {{ user.surname }} </h2>
                    <h3> {{ user.username }} </h3>
                    <p> {{ user.email }}</p>
                    <p> Номер телефона: +{{ user.phone_number }} </p>
                    <p> Дата рождения: {{ user.birth_date }}</p>
                </div>
            </div>
            <!-- Карточка отзывов -->
            <div class="card p-3">
                <h2> Отзывы </h2>
                {% for review in reviews %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title"> От: {{ review.user_comment }} - Оценка: {{ review.rating }}/10 </h5>
                        <p class="card-body"> {{ review.text }} </p>
                        <p> {{ review.created }} </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex flex-column px-3">
            <!-- Карточка Объявления -->
            <div class="card p-3 mb-3">
                <h2> Объявления </h2>
                {% for post in posts %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> {{ post.title }} - {{ post.price}} Руб </h5>
                        <p class="text-muted"> {{ post.category }} </p> 
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Карточка сделки -->
            <div class="card p-3 mb-3">
                <h2> Сделки </h2>
                {% for deal in deals %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> {{ deal.post }} </h5>
                        <p class="card-text"> Статус сделки: {{ deal.status}} <p>
                        <p class="text-muted"> Дата сделки: {{ deal.date }} </p> 
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>




{% endblock %}